{% extends "base.html" %}
{% block content %}
    <h1> {{hello}} </h1>
    
    <table>
        <tr>
            <td><h4>Number</h4></td>
            <td><h4>Image</h4></td>
            <td><h4>Title</h4></td>
            <td><h4>Price</h4></td>
            <td><h4>Characteristics</h4></td>
            <td><h4>More info</h4></td>
        </tr>
        {% for i in data %}
            <tr>
                <td>{{ i[0] }}
                <td><img src="{{ i[2] }}"></td>
                <td>{{ i[1] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
                <td><a href="{{ i[5] }}">More info</a><td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}